.fox_header{
	background: url(../img/lan_icon_title.png) no-repeat;background-size: 100% 100%;
}
.fox_ul{
	position: relative;
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    //background-color: #fff;
    //background: url(../img/lan_icon_background.png) no-repeat;
	//background-size: 100% 100%;
}
.fox_li{
	position: relative;
	overflow: hidden;
	padding: 10px 0px 0px 0px;	
}
.fox_div{
	height: 80px;
	//border: 1px solid red;
	//background-color: red;
	//border-radius:5px;  
	width: 100%;
	//background-color: red;
	background:url(../img/lan_icon_devicelist.png);
	background-size: 100% 100%;
	background-repeat:no-repeat;
}
.fox-white{
	color: #ffffff;
}
.fox_content{
	//height: 500px;
	width: 100%;
	padding-top:45px;
	//background:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#000000));
	//background-color: #DEDEDE;
	//background: url(../img/lan_icon_background.png) no-repeat;
}
.font-title{
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}