.fox-backgound-white{
	background-color: #FFFFFF;
}
.fox_header{
	background: url(../img/lan_icon_title.png) no-repeat;background-size: 100% 100%;
}
.fox-white{
	color: #ffffff;
}
.fox_btn_login{
	height: 40px;
	width: 100%;
	background: url(../img/lan_icon_btnblue.png) no-repeat;
	background-size: 100% 100%;
}