.mui-content-padded {
	margin-top: 25px;
}
.fox-backgound-white{
	background-color: #FFFFFF;
}
.fox_content{
	//height: 500px;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	padding-top:44px;
	bottom: 100px;
	//background-color: #FFFFFF;
}
.fox_header{
	background: url(../img/lan_icon_title.png) no-repeat;background-size: 100% 100%;
}
.fox-white{
	color: #ffffff;
}
.fox-blue{
	color:#20B2AA;
}
.fox_btn_login{
	height: 40px;
	width: 100%;
	background: url(../img/lan_icon_btnblue.png) no-repeat;
	background-size: 100% 100%;
}